@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
 font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.text-black {
  color: #000;
}

.text-primary {
  color: #b55d51f8;
}

.text-primary-view {
  text-decoration: none;
  color: #b55d51f8;
}

.text-gray-2 {
  color: #878787;
}

.font-64 {
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.font-24 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.font-16 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.font-18 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}
.font-48 {
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.font-40 {
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
}
.text-tranform {
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
}

