.Category_Head {
  padding: 20px 40px;
}
.Category_p {
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
}

.Categories-subtitle{
  font-family: Roboto;
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  padding: 30px 139px;
  letter-spacing: 0em;
  text-align: left;
}