.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 584px;
  height: 100px;
  margin: 0 auto;
  gap: 90px;
  //   border: 1px solid red;
}
.about-profile {
  width: 240px;
  height: 70px;
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
  align-items: center;
  //   border: 1px solid green;
}
.about-follow {
  width: 240px;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  //   border: 1px solid green;
}
.follow {
  padding: 12px 60px;
  background-color: #b66155;
  color: #fff;
}
.about-profile img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  // object-fit: cover;
  // display: inline;
}
.follow-icon {
  font-size: 28px;
  color: #b66155;
}
.about-name {
  font-size: 18px;
}
.about-details {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-details ul {
  list-style: none;
}
.about-details li {
  text-align: center;
  color: #878787;
  line-height: 26px;
}
.about-details a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 18px;
}
.about-description {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  padding: 10px 30px;
}
.about-description-p {
  text-align: left;
  width: 584px;
  height: 56px;
}
.about-card-display {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.active-tab {
  padding: 5px;
  border-bottom: 2px solid rgba(181, 93, 81, 0.97);
  color: rgba(181, 93, 81, 0.97);
}
.about-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  gap: 24px;
  // border: 1px solid red;
}
.about-card-div {
  // border-radius: 8px;
  width: 280px;
  height: 160px;
  // border: 1px solid green;
}
.about-card-Recipe {
  // border-radius: 8px;
  width: 280px;
  height: 160px;
  // border: 1px solid green;
}
.about-card-Recipe img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
}
.about-card-div img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
}
